SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CONTENT_METADATA_API_KEY=
BACKEND_API_URL=http://127.0.0.1:8000
FRONTEND_URL=http://localhost:5173
MODEL_PATH=./ml_pipeline/artifacts
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2
ENVIRONMENT=
SUPABASE_JWT_SECRET=